
/* GLOBAL */
body {
  margin:0;
  font-family:Arial;
  background:#f5f7fb;
}

/* HEADER */
.header {
  display:flex;
  justify-content:space-between;
  align-items:center;
  background:white;
  padding:10px 20px;
  border-bottom:2px solid #2563eb;
}

.logo {
  height:60px;
}

/* SIDEBAR */
.sidebar {
  position:fixed;
  left:0;
  top:80px;
  width:220px;
  height:100%;
  background:#0f172a;
  padding:15px;
  border-right:4px solid #2563eb;
}

.sidebar button {
  width:100%;
  margin-bottom:10px;
  padding:12px;
  background:#1e293b;
  color:white;
  border:none;
  border-radius:6px;
  cursor:pointer;
}

.sidebar button:hover {
  background:#2563eb;
}

/* MAIN */
.main {
  margin-left:240px;
  padding:20px;
}

/* TABS */
.tab-buttons {
  margin-bottom:15px;
}

.tab-buttons button {
  padding:10px 15px;
  margin-right:10px;
  border:none;
  background:#2563eb;
  color:white;
  border-radius:6px;
  cursor:pointer;
}

/* SECTION */
.section {
  background:white;
  padding:15px;
  border-radius:10px;
  border:1px solid #e5e7eb;
}

/* INPUT */
input, select {
  width:100%;
  padding:10px;
  margin:6px 0;
  border:1px solid #ccc;
  border-radius:5px;
}

/* BUTTON */
.action-btn {
  background:#2563eb;
  color:white;
  padding:10px;
  border:none;
  border-radius:6px;
  cursor:pointer;
}
